In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("HW1-data.csv")

In [4]:
df_clean = df.melt(id_vars=["User", "Gender (1 =F, 0=M)"], var_name="movie", value_name="rating")

In [5]:
df_clean.groupby("movie")["rating"].mean().round(3).reset_index().sort_values("rating")

                                                movie  rating
10                          2916: Total Recall (1990)   1.917
2                            1259: Stand by Me (1986)   2.636
14                           356: Forrest Gump (1994)   2.700
19                 780: Independence Day (ID4) (1996)   2.769
4                                 1: Toy Story (1995)   2.824
7                            2571: Matrix, The (1999)   2.833
9                       2762: Sixth Sense, The (1999)   2.833
6                    2396: Shakespeare in Love (1998)   2.909
0                1198: Raiders of the Lost Ark (1981)   2.909
15                             3578: Gladiator (2000)   2.917
5                    2028: Saving Private Ryan (1998)   3.000
11                           296: Pulp Fiction (1994)   3.000
13                                    34: Babe (1995)   3.000
1   1210: Star Wars: Episode VI - Return of the Je...   3.000
16                       527: Schindler's List (1993)   3.000
18              593: Silence of the Lambs, The (1991)   3.062
3                          1265: Groundhog Day (1993)   3.167
17                           541: Blade Runner (1982)   3.222
8      260: Star Wars: Episode IV - A New Hope (1977)   3.267
12              318: Shawshank Redemption, The (1994)   3.600

In [6]:
df_clean.groupby("movie")["rating"].count().round(3).reset_index().sort_values("rating")

                                                movie  rating
17                           541: Blade Runner (1982)       9
14                           356: Forrest Gump (1994)      10
13                                    34: Babe (1995)      10
12              318: Shawshank Redemption, The (1994)      10
0                1198: Raiders of the Lost Ark (1981)      11
2                            1259: Stand by Me (1986)      11
5                    2028: Saving Private Ryan (1998)      11
6                    2396: Shakespeare in Love (1998)      11
11                           296: Pulp Fiction (1994)      11
16                       527: Schindler's List (1993)      12
15                             3578: Gladiator (2000)      12
9                       2762: Sixth Sense, The (1999)      12
7                            2571: Matrix, The (1999)      12
3                          1265: Groundhog Day (1993)      12
10                          2916: Total Recall (1990)      12
19                 780: Independence Day (ID4) (1996)      13
1   1210: Star Wars: Episode VI - Return of the Je...      14
8      260: Star Wars: Episode IV - A New Hope (1977)      15
18              593: Silence of the Lambs, The (1991)      16
4                                 1: Toy Story (1995)      17

In [7]:
df_clean["good"] = df_clean["rating"] >= 4

In [8]:
df_clean[df_clean["rating"].notnull()].groupby("movie")["good"].mean().sort_values()

movie
2916: Total Recall (1990)                                  0.083333
1198: Raiders of the Lost Ark (1981)                       0.272727
2396: Shakespeare in Love (1998)                           0.272727
356: Forrest Gump (1994)                                   0.300000
780: Independence Day (ID4) (1996)                         0.307692
527: Schindler's List (1993)                               0.333333
2762: Sixth Sense, The (1999)                              0.333333
1: Toy Story (1995)                                        0.352941
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.357143
2028: Saving Private Ryan (1998)                           0.363636
1259: Stand by Me (1986)                                   0.363636
296: Pulp Fiction (1994)                                   0.363636
34: Babe (1995)                                            0.400000
1265: Groundhog Day (1993)                                 0.416667
2571: Matrix, The (1999)                                   0.416667
593: Silence of the Lambs, The (1991)                      0.437500
541: Blade Runner (1982)                                   0.444444
3578: Gladiator (2000)                                     0.500000
260: Star Wars: Episode IV - A New Hope (1977)             0.533333
318: Shawshank Redemption, The (1994)                      0.700000
Name: good, dtype: float64

In [13]:
P_toy = df[
    (df["1: Toy Story (1995)"].notnull())
    ].shape[0] / df["User"].nunique()

In [15]:
res = {}
for movie in df_clean["movie"].unique():
    P_movie_toy = df[
        (df["1: Toy Story (1995)"].notnull()) &
        (df[movie].notnull())
        ].shape[0] / df["User"].nunique()
    res[movie] = P_movie_toy / P_toy

In [27]:
pd.DataFrame(list(res.items()), columns=['movie', 'score']).sort_values("score")

                                                movie     score
2                            356: Forrest Gump (1994)  0.411765
13                           541: Blade Runner (1982)  0.411765
19                                    34: Babe (1995)  0.470588
3               318: Shawshank Redemption, The (1994)  0.470588
10                   2396: Shakespeare in Love (1998)  0.470588
7                    2028: Saving Private Ryan (1998)  0.470588
15                           2571: Matrix, The (1999)  0.529412
18               1198: Raiders of the Lost Ark (1981)  0.529412
9                            1259: Stand by Me (1986)  0.529412
5                              3578: Gladiator (2000)  0.529412
16                       527: Schindler's List (1993)  0.588235
17                      2762: Sixth Sense, The (1999)  0.588235
8                            296: Pulp Fiction (1994)  0.588235
11                          2916: Total Recall (1990)  0.647059
14                         1265: Groundhog Day (1993)  0.647059
12                 780: Independence Day (ID4) (1996)  0.764706
4               593: Silence of the Lambs, The (1991)  0.764706
1   1210: Star Wars: Episode VI - Return of the Je...  0.764706
0      260: Star Wars: Episode IV - A New Hope (1977)  0.823529
6                                 1: Toy Story (1995)  1.000000